* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: pan-x pan-y;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

::selection{
    color: #000;
    background-color: #198754;
}

:focus{
    outline: none!important;
}

a {
    color: #000;
    text-decoration: none;
}

.color-default, a:hover, footer #icons-payment-methods svg, .buttonToTop:hover a {
    color: #198754!important;
}

.input-search {
    display: block;
    width: 540px!important;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #198754;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-search:focus {
    outline: none!important;
    border-color:#198754!important;
    box-shadow: none!important;
}

.btn-search {
    border-radius: 0;
    margin-left: -2px;
}

#cartItemsNumber {
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: .25rem!important;
}

a.dropdown-item.active:hover {
    color: #000!important;
    background-color: #198754!important;
}

a.dropdown-item.notactive:hover {
    background-color: initial!important;
}

.navbar-toggler:focus {
    box-shadow: none!important;
}

.item-sidebar-category svg {
    width: 40px!important;
}

.item-sidebar-category:hover {
    color: #000!important;
}

.list-group-item:last-child {
    border-bottom-left-radius: .25rem!important;
    border-bottom-right-radius: .25rem!important;
}

#content {
    margin-top: 72px;
    padding-bottom: 16px;
}

video {
    background-color: #fff;
    width: 100%;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
}

#loadingSpinner:is([hidden]){
    display: none!important;
}

#loadingSpinner:not([hidden]){
    width: 100%; 
    height:100vh;
    background: #000;
}

.btn-close:focus {
    box-shadow: none;
}

#contentInfoProduct hr {
    display: none!important;
}

#backgroundEmptyCart{
    background-image: url('../images/cart/bg.png');
    background-size: cover;
    background-position-x: right;
    background-repeat: no-repeat;
    background-color: #F2F2F2;
}

.backgroundIsNotEmpty{
    background: none!important;
}

#customPaddingForBackground {
    padding: 162px 20px!important;
}

.img-sm {
    width: 100px;
}

tr:last-child {
    border-color: transparent!important;
}

#loginPage {
    width: 100%;
    height: 100vh;
    text-align: center;
}

#loginPage input {
    border: 3px solid #000;
}

#loginPage input.is-invalid {
    border: 3px solid #dc3545;
}

#loginPage input:focus {
    border: 3px solid #198754;
    box-shadow: none;
}

#description, #newDescription {
    padding-bottom: 150px;
}

footer {
    padding: 20px 0;
}

footer a {
    color: #fff;
    display: block;
    margin-bottom: 5px;
}

footer a svg, footer p svg {
    margin-left: 15px;
    margin-right: 10px;
}

footer p {
    font-weight: bold;
    margin-bottom: 0;
}

footer .copyright svg.fa-heart, .modal svg.fa-heart {
    color: #fb1d25;
}

footer .copyright svg {
    margin: 0 auto!important;
}

.buttonToTop {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: #fff;
    border-radius: 50%;
    line-height: 48px;
    border: 1px dashed #198754;
    display: none;
}

.buttonToTop:hover svg {
    color: #198754;
}

/* Media Query */
@media (max-width: 1400px) {
    .input-search {
        width: 455px!important;
    }
}

@media (min-width: 1281px) {}

@media (max-width: 1200px) {
    .input-search {
        width: 365px!important;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {}

@media (max-width: 992px) {
    #navbarToggler {
        margin-top: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {}
@media (min-width: 768px) and (max-width: 992px) {
    .item-sidebar-category svg {
        width: 20px!important;
    }
}

@media (max-width: 767px) {
    #icons-payment-methods {
        margin-left: 15px;
    }
    #contentInfoProduct hr {
        display: block!important;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    
}
  
@media (min-width: 320px) and (max-width: 480px) {
    .input-search {
        width: 250px!important;
    }    
    
}

@media (max-width: 320px) {
    .input-search {
        width: 100px!important;
    }    
    
}

@media (min-width: 0) { 
    .text-xs-start {
        text-align: left;
    }
    .text-xs-center {
        text-align: center;
    }
    .text-xs-end {
        text-align: right;
    }
 }